
* {
	margin: 0;
	padding: 0;
}

body {
	background: #bbb;
	display: flex;
	justify-content: center;
}

.content {
	padding: 10%;
	height: min-content;
	margin-top: 100px;
	background: #ddd;
	border-radius: 5%;
}
.gameover {
	background: #d99;
}

.cells-table {
}
.cells-line {
	display: flex;
}

.cell-button {
	width: 2em;
	height: 2em;
	margin: 2px;
	border: solid 1px #222;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell-sealed {
	background: #777;
}
.cell-sealed > p {
	visibility: hidden;
}
.cell-marked {
	background: #22d;
}
.cell-bomb {
	background: #d22;
}
.cell-empty {
	background: #ddd;
}

.button-reset-area {
	display: flex;
	flex-direction: row-reverse;
}
.button-reset {
	margin-top: 20px;
	padding: 4px;
	background: #ddd;
	border: solid 1px #222;
	border-radius: 4px;
	font-size: large;
}